<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mail_outline</i>
            </div>
            <h4 class="card-title">Cadastrar Lote</h4>
          </div>
          <div class="card-body ">
            <form method="#" action="#">
              <mat-form-field class="col-md-12">
                <mat-label>Nome</mat-label>
                <textarea matInput 
                [(ngModel)]="lote.nome"
                name="nome"
                placeholder="Lote1"></textarea>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <mat-label>Descricao</mat-label>
                <textarea matInput 
                [(ngModel)]="lote.descricao"
                name="descricao"
                placeholder="Lotes de machos"></textarea>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <mat-label>Sexo</mat-label>
                <textarea matInput 
                [(ngModel)]="lote.sexo"
                name="sexo"
                placeholder="Macho"></textarea>
              </mat-form-field>
            </form>
          </div>
          <div class="card-footer ">
            <button (click)="create()" mat-raised-button type="submit" class="btn btn-fill btn-rose">Salvar</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>